[mysqld]
# --- Basic Settings ---
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL

# --- GTID & Replication Requirements ---
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_checksum=NONE
log_bin=binlog
binlog_format=ROW
log_replica_updates=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
transaction_write_set_extraction=XXHASH64

# --- GROUP REPLICATION SETTINGS ---
plugin_load_add='group_replication.so'
loose-group_replication_group_name="aaaaaaaa-bbbb-cccc-dddd-eeeeffff0000"
loose-group_replication_group_seeds="mysql-node1:33061,mysql-node2:33061,mysql-node3:33061"
loose-group_replication_ip_allowlist="0.0.0.0/0"
loose-group_replication_single_primary_mode=ON
loose-group_replication_enforce_update_everywhere_checks=OFF
loose-group_replication_unreachable_majority_timeout=5

# PENTING: Set OFF dulu biar instalasi awal tidak crash karena user belum ada
loose-group_replication_start_on_boot=OFF
loose-group_replication_bootstrap_group=OFF
