[mysqld]
# --- Basic Settings ---
# Kita tidak set server-id disini, biar diatur via command docker saja
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL

# --- GTID & Replication Requirements (WAJIB) ---
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_checksum=NONE
log_bin=binlog
binlog_format=ROW
log_replica_updates=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
transaction_write_set_extraction=XXHASH64

# HAPUS SEMUA SETTING GROUP REPLICATION DARI SINI
# Biarkan Python yang setting nanti.
